<div class="row">
  <div class="col-md-12 text-center display-4">
    Welcome
  </div>
  <div class="col-md-12 text-center display-8">
    Enjoy Our Furniture
  </div>
</div>
<br />
<div class="row mt-0">
  <div class="col-lg-9">
    <div class="card">
      <div class="card-body">
        <img class="img-fluid" src="assets/img/image1.jpg">
        <div class="page-header">
          <h3>Selamat Datang di Toko Furniture Online Terlengkap, Furniture.com <small>Posted on Oct 2</small></h3>
        </div>
        <p></p>
        <p>Kami menyediakan beragam furniture minimalis untuk hunian kesayangan Anda mulai dari sofa, kasur, furniture ruang tamu, 
          meja kerja, hingga pernak pernik dekorasi untuk rumah minimalis Anda. Selain Anda dapat menemukan beragam furniture menarik, 
          Anda juga dapat mendapatkan jasa desain interior gratis dari kami (syarat dan ketentuan berlaku). Tunggu apa lagi, 
          temukan furniture yang Anda idam-idamkan sekarang juga hanya di toko furniture online, Furniture.com.</p>
        <p></p>
        <h4>Pilihlah Furniture Terbaik untuk Hunian Kesayangan Anda</h4>
        <p>Memilih furniture yang akan menjadi nyawa untuk rumah Anda memang cukup memakan waktu. Tapi proses pemilihan furniture 
          tersebut bisa dipangkas lho dan Anda bisa dengan segera mengisi rumah dengan furniture. Caranya adalah dari awal sudah 
          memikirkan dengan pasangan tentang tema rumah akan menggunakan gaya apa, akankah bergaya minimalis, mediteranian, industrial 
          atau gaya yang Anda sukai. Bila sudah menentukan gaya, Anda tinggal mensortir furniture di website Furniture.com yang sesuai 
          dengan gaya pilihan Anda. Bila Anda beruntung, Anda bisa mendapatkan diskon menarik untuk furniture-furniture yang ingin 
          dibeli ketika sedang ada promo dari Furniture.com. Produk-produk furniture online dapat dengan mudah Anda beli di Furniture.com, 
          beli sekarang juga!</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="list-group">
      <a href="#" class="list-group-item active">
          <h4 class="list-group-item-heading">Memilih Desain Furnitur Yang Tepat</h4>
          <p class="list-group-item-text">Memilih desain perabotan yang tepat dapat memberi kesan luas pada ruangan. Oleh karena itu, 
            Anda harus pandai–pandai memilih desain perabotan. Selain itu, pilihlah desain perabotan yang mudah dibersihkan. 
            Karena hal itu akan mempermudah Anda dalam merawat perabotan tersebut.</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Memilih Furniture Pada Kamar Tidur</h4>
        <p class="list-group-item-text">Kamar tidur merupakan ruangan yang akan menjadi privasi. Hindari perabotan yang akan banyak memakan tempat, karena hal itu hanya dapat membuat kamar tidur Anda 
          menjadi sesak. Dengan begini, kamar Anda akan terasa lebih nyaman dan dapat meningkatkan kualitas istirahat Anda dan keluarga.</p>
      </a>
      <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Memilih Furniture Pada Ruang Tamu</h4>
          <p class="list-group-item-text">Pilihlah perabotan yang sederhana. Karena hal ini akan memberikan 
            kesan elegan dan nyaman pada ruang tamu Anda. Pilihlah desain kursi yang klasik dan sederhana. 
            Hindari pemilihan desain yang memiliki banyak ukiran dan ornamen serta hindari pemilihan desain yang mempunyai banyak lekukan.</p>
      </a>
    </div>
  </div>
</div>