<div class="row">
  <div class="col-md-12 text-center display-4">
    Our {{ categoryName }} Collection
  </div>
</div>
<div class="row mt-0">
  <div class="col-md-3 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title">Price Range from</h4>
        <div>
          <input type="radio" id="customRadio1" name="radioprice" checked>
          <label for="customRadio1">ALL</label>
        </div>
        <div>
          <input type="radio" id="customRadio2" name="radioprice">
          <label for="customRadio2">800 to 1000</label>
        </div>
        <div>
          <input type="radio" id="customRadio3" name="radioprice">
          <label for="customRadio3">500 to 799</label>
        </div>
        <div>
          <input type="radio" id="customRadio3" name="radioprice">
          <label for="customRadio3">Up to 499</label>
        </div>
        <hr />
        <h4 class="card-title">ArmChair untuk bersantai</h4>
        <p class="card-text">
            Kebebasan untuk memiliki ruangan pribadi yang nyaman adalah hak semua orang. Tak ada yang lebih nyaman dari 
            sofa santai bergaya minimalis berkapasitas satu orang ini yang biasa disebut dengan  single sofa. 
            Letakkan sofa ini pada sisi pojok ruangan Anda dan dampingi dengan lampu untuk menyulap bagian tersebut menjadi 
            pojok membaca ataupun area bersantai.
        </p>
        <h4 class="card-title">Jenis ArmChair</h4>
        <p class="card-text">
            Jenis kursi armchair yang patut Anda ketahui adalah Kursi Santai Lesehan, Kursi Armchair Rotan, 
            Kursi Santai Beanbag, Kursi Malas Gili dan Kursi Santai Bed
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <!-- Main Content -->
    <router-outlet></router-outlet>
  </div>
</div>